<%- include('includes/head')  %>

<link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>Home</title>
</head>


<body>




  <div class="main">
    <h1 class="logo">
      <span class="youtube">
        Youtube
      </span>   2

      <span class="spotify">
        Spotify
      </span>

    </h1>
    <div class="content">
      <form action="/spotify" method="GET" class="form">
        <p class="info">A playlist precisa ser publica</p>
        <div class="real-form">
          <input type="text" class="youtube-url" placeholder="Link da playlist">
            <button class="myAnchor">Converter</button>
        </div>
      </form>
    </div>
  </div>

      <script src="/js/saveYoutubeurl.js"></script>


</body>
</html>


