<%- include('includes/head')  %>

  <title>Document</title>

  <link rel="stylesheet" href="/css/middleware.css">
</head>




<body>
  <form action="/result" method="POST">
    <div class="hidden"></div>
    <div class="hiddentwo"></div>
    <button class="clickButton"></button>
  </form>
  <script src="/js/middleware.js"></script>
</body>
</html>
