@media only screen and (max-width: 600px) {
   body, html{
  width: 100%;
  }

  .main{
    width: 100%;
  }

  .logo{
    padding: 80px 84px 0px 84px;
    display: inline-block;
    font-size: 31px;
  }

  .info {
    display: inline-block;
    padding: 0px 60px 0px 60px;
    font-size: 16px;
  }

  .form{
    display: inline-block;
    flex-direction: column;
    padding: 180px 60px 0px 60px;
  }

  .real-form{
    display: flex;
    flex-direction: column;
  }

  .youtube-url{
        margin: 10px 0px 25px 0px;
        border: 1px solid #222;
        border-radius: 8px;
        height: 25px;
  }


  input::placeholder{
    text-align: center;
  }
  input::-ms-input-placeholder{
    text-align: center;
  }

  button{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 8px;
    color: white;
    background: #337ab7;
    margin: 0px 84px 0px 84px;
  }
}



@media only screen and (min-width: 601px){
  body, html{
    width: 100%;
    }

    .main{
      width: 100%;
    }

    .logo{
      display: flex;
      justify-content: center;
      padding-top: 80px;
      font-size: 80px;
    }

    .content{
      display: flex;
      justify-content: center
    }

    .info {
      display: inline-block;
      padding: 0px 60px 0px 60px;
      font-size: 16px;
    }

    .form{
      display: inline-block;
      flex-direction: column;
      padding: 180px 60px 0px 60px;
    }

    .real-form{
      display: flex;
      justify-content: center;
    }

    .youtube-url{
          border: 1px solid #222;
          border-radius: 8px;
          width: 750px;
          height: 30px;
    }


    input::placeholder{
      text-align: center;
    }
    input::-ms-input-placeholder{
      text-align: center;
    }

    button{
      width: 100px;
      margin-left: 15px;
      border: none;
      border-radius: 8px;
      color: white;
      background: #337ab7;
    }

}

.spotify{
  color: #1DB954;
}

.youtube{
  color: #c4302b;
}

button:hover{
  cursor: pointer;
}
